asgiref
Django
django-cors-headers
django-jazzmin
django-rest-framework
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
typing_extensions
tzdata
gunicorn
django-database-prefix
psycopg2-binary